<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
    <ion-title>
      <img class="img" align="center" src="assets/img/logo-black-small.png" />
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h4>Událost</h4>
  <p>
    Právě když si myslíš, že už nemůže být hůř, objeví se další vzpomínky, které tě přesvědčí o opaku. A jak jistě víš, když
    máš hlad, nejsi to ty. A že hlad jste měli obrovský. Tak proč, když už jste jednou v té škole, se zde rovnou i nenajíst?
    Ano, vydali jste se do menzy. Bohužel však na vás nečekaly žádné bohaté chody, jak jste si mysleli, ba naopak. Chleba,
    česnek, vajíčko, a sýr bylo ze surovin to jediné, co jste našli. Tak jste si udělali topinky. No a protože čas jsou peníze,
    a ani jeden přeci nestudujete na VŠE pro nic za nic, připravili jste je velmi efektivně!


  </p>
  <h4>Úkol</h4>
  <p>Za jakou nejkratší dobu jste si mohli opéct tři topinky, když se na pánvičku vejdou jen dvě najednou a jedna strana se
    peče 30 sekund? Výsledek uveď ve vteřinách. Pokud si s odpovědí nevíš rady, pomůžou ti poslední dva znaky označení oné
    osudové místnosti napsané pozpátku.
  </p>
  <ion-list>
    <div *ngIf="hintLevel1()">
      <h3>Nápověda 1</h3>
      <p>
        Běž k menze, počet sekund je její číslo pozpátky.
      </p>
    </div>
    <ion-item>
      <ion-label floating>Čas
      </ion-label>
      <ion-input type="text" [(ngModel)]="answer"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <button ion-button (click)="goToOtherPage()">Odpovědět</button>
      </ion-col>
      <ion-col *ngIf="hintLevel1() == false">
        <button ion-button (click)="reallyHintAlert()">Nápověda</button>
      </ion-col>
      <ion-col *ngIf="hintLevel1()">
        <button ion-button (click)="reallySkipAlert()">Přeskočit úkol</button>
      </ion-col>
    </ion-row>
  </ion-list>
  <timer #timer timeInSeconds={{resumeTime}}></timer>
</ion-content>