<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
        <ion-icon name="menu">
        </ion-icon>
      </button>
    <ion-title> <img class="img" align="center" src="assets/img/logo-black-small.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h4>Událost</h4>
  <p>
    Matně si vzpomínáš na večeři onoho osudového večera. Co jen to bylo ... česnek ... sýr ... na chlebu ... opečeném chlebu?
    ... TOPINKY ! Topinky byly to jediné jídlo, které jste spolu zvládli ukuchtit na jistém místě za .... za jak dlouho vlastně?
    Za jakou nejkratší dobu jste mohli opéct tři topinky, když se na pánvičku vejdou jen dvě najednou a jedna strana se peče
    30 sekund? Výsledek uveď ve vteřinách. Pokud si s odpovědí nevíš rady, pomůžou ti poslední dva znaky označení oné osudové
    místnosti napsané pozpátku.


  </p>
  <h4>Úkol</h4>
  <p>Za jakou nejkratší dobu opečete tři topinky, když se na pánvičku vejdou jen dvě najednou a jedna strana se peče 30 sekund?
    Souvisí s číslem místnosti, kde se nachází místo, kde jste kuchtili
  </p>
  <ion-list>
    <div *ngIf="hintLevel1()">
      <h3>Nápověda 1</h3>
      <p>
        Běž k menze, počet sekund je její číslo pozpátky.
      </p>
    </div>
    <ion-item>
      <ion-label floating>Čas
      </ion-label>
      <ion-input type="text" [(ngModel)]="answer"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <button ion-button (click)="goToOtherPage()">Odpovědět</button>
      </ion-col>
      <ion-col *ngIf="hintLevel1() == false">
        <button ion-button (click)="reallyHintAlert()">Nápověda</button>
      </ion-col>
      <ion-col *ngIf="hintLevel1()">
        <button ion-button (click)="reallySkipAlert()">Přeskočit úkol</button>
      </ion-col>
    </ion-row>
  </ion-list>
  <timer #timer timeInSeconds={{resumeTime}}></timer>
</ion-content>