<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
        <ion-icon name="menu">
        </ion-icon>
      </button>
    <ion-title> <img class="img" align="center" src="assets/img/logo-black-small.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h4>Událost</h4>
  <p>
    Jediný syn jeho babičky, která si kdysi vzala pradědečka budoucích dětí Tvého kamaráda, má s babičkou dětí bratra Tvého kamaráda
    celkem tolik mužských potomků, jako je součet číslic na skříňce, kam jste si po příchodu do školy odložili věci. Skříňka
    se nachází v suterénu nejstarší budovy v areálu, a její číslo je nejvyšší ze všech. Každý ze synů má jednu sestru. Kolik
    má kamarádova rodina členů?
  </p>
  <h4>Úkol</h4>
  <p>Tvým úkolem je zjistit počet členů kamarádovi rodiny.
  </p>

  <div *ngIf="hintLevel1()">
    <h3>Nápověda 1</h3>
    <p>
      <ion-icon name="alert"></ion-icon>Nehledej složitosti, zajdi do SB do suterénu, najdi skřínku s nejvyšším číslem a sečti číslice v tomto čísle.
      K číslu připočti sestru a rodiče.
    </p>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>Počet členů rodiny (sourozenci včetně buddíka + rodiče)</ion-label>
      <ion-datetime displayFormat="mm" pickerFormat="mm" [(ngModel)]="this.event.timeStarts"></ion-datetime>
    </ion-item>

  </ion-list>
  <ion-row>
    <ion-col>
      <button ion-button (click)="goToOtherPage()">Odpovědět</button>
    </ion-col>
    <ion-col *ngIf="hintLevel1() == false">
        <button ion-button (click)="reallyHintAlert()">Nápověda</button>
      </ion-col>
      <ion-col *ngIf="hintLevel1()">
          <button ion-button (click)="reallySkipAlert()">Přeskočit úkol</button>
        </ion-col>
  </ion-row>
  <timer #timer timeInSeconds={{resumeTime}}></timer>
</ion-content>