
    
     page-intro {
    
       ion-slide {
         background-color: #7DBFDD;
         height:100%;
         font-size: 2em;
       }
   
   
    html {
      font-size: 12px;
    }
    
    @include media-breakpoint-up(sm) {
      html {
        font-size: 14px;
      }
    }
    
    @include media-breakpoint-up(md) {
      html {
        font-size: 18px;
      }
    }
    
    @include media-breakpoint-up(lg) {
      html {
        font-size: 18px;
      }
    }


       ion-slide img {
         height: 100% important;
         width: 100% important;
         position: auto;  
         top: 0;  
         bottom: 0;  
         left: 10;  
         right: 10;  
         margin: auto;
       }
ion-slide .gif {
  height: 10% important;
  width: 10% important;
  position: auto;  
  top: 0;  
  bottom: 0;  
  left: 10;  
  right: 10;  
  margin: auto;
}
    
     }
    
  
    
   
   