<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
        <ion-icon name="menu">
        </ion-icon>
      </button>
    <ion-title> <img class="img" align="center" src="assets/img/logo-black-small.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h4>Událost</h4>
  
  <p>  A teď trocha poezie: </p>
   <p> “Když se cítíš ve svém studiu bezradný,</p>
   <p> Tehdy zjistíš, kdo by ti mohl být nápomocný.</p>
   <p> Všichni odborníci na tebe v tichosti čekají, </p>
    <p>S hřbety zaprášenými zde odpočívají.</p>
    <p>Kdybyste v osudnou noc za nimi zašli,</p>
   <p> odpoveď na nadcházející otázku by jste zde našli.”</p>
    

  
  <h4>Úkol</h4>
  <p>Najdi 311MAR </p>
   <p> a nenech svou cestu k cíli dovést v zmar,</p>
   <p> Daného odborníka hledat se vydej,</p>
   <p> Jeho celé jméno dobře si zaznamenej,</p>
    <p>To otevře ti k další indícii dvířka,</p>
   <p> Není to jméno, není to přezdívka,</p>
   <p> Jsou to buddíkovy iniciály….</p>
     
  <ion-list>
    <div *ngIf="hintLevel1()">
      <h3>Nápověda 1</h3>
      <p>
        <ion-icon name="alert"></ion-icon>Hledej označení 311MAR v knihovně. Odborníci=Autoři.
      </p>
    </div>
    <ion-item>
      <ion-label floating>Jméno autora</ion-label>
      <ion-input type="text" [(ngModel)]="answer"></ion-input>
    </ion-item>


    <ion-row>
      <ion-col>
        <button ion-button (click)="goToOtherPage()">Odpověď</button>
      </ion-col>
      <ion-col *ngIf="hintLevel1() == false">
        <button ion-button (click)="reallyHintAlert()">Nápověda</button>
      </ion-col>
      <ion-col *ngIf="hintLevel1()">
        <button ion-button (click)="reallySkipAlert()">Přeskočit úkol</button>
      </ion-col>
    </ion-row>
  </ion-list>
  <timer #timer timeInSeconds={{resumeTime}}></timer>
</ion-content>