<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
    <ion-title>
      <img class="img" align="center" src="assets/img/logo-black-small.png" />
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h4>Událost</h4>
  <p>
    Už jsi se silami téměř u konce. Ačkoli jsi zjistil poměrně hodně informací o tvém buddíkovi, stále si nedokážeš vzpomenout
    na jeho obličej, ani kde se vaše cesty rozešly a jak ten večer skončil. Chceš rezignovat, dáš si v trucu ruce do kapes
    a vydáš se pryč. Najednou v jedné z kapes objevíš zmuchlaný papírek, bezmyšlenkovitě ho chceš vyhodit do nejbližšího
    koše, ale něco tě zarazí. Rozbalíš ho a přečteš si ručně psaný vzkaz. 
  </p>
  <h4>Úkol</h4>
  <p>Zajdi na místo vašeho setkání vyplývajícího ze vzkazu. V odpovědi uveď součet písmen slov v logu. </p>
  <img class="img" align="center" src="assets/img/tabule.png" />
  <ion-list>
    <div *ngIf="hintLevel1()">
      <h3>Nápověda</h3>
      <p>
        <ion-icon name="alert"></ion-icon>Odpověď se skládá ze 3 slov. Jedná se o jedno z restauračních zařízení na půdě VŠE. 
      </p>
    </div>
    <ion-item>
      <ion-label floating>Součet</ion-label>
      <ion-input type="text" [(ngModel)]="answer"></ion-input>
    </ion-item>





    <ion-row>
      <ion-col>
        <button ion-button (click)="goToOtherPage()">Odpovědět</button>
      </ion-col>
      <ion-col *ngIf="hintLevel1() == false">
        <button ion-button (click)="reallyHintAlert()">Nápověda</button>
      </ion-col>
      <ion-col *ngIf="hintLevel1()">
        <button ion-button (click)="reallySkipAlert()">Přeskočit úkol</button>
      </ion-col>
    </ion-row>
  </ion-list>
  <timer #timer timeInSeconds={{resumeTime}}></timer>
</ion-content>