<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
        <ion-icon name="menu">
        </ion-icon>
      </button>
    <ion-title> <img class="img" align="center" src="assets/img/logo-black-small.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h4>Událost</h4>
  <p>
    Nebe je modré, růže jsou rudé, moje oblíbená barva je ... Od momentu kdy ses vzbudil se ti tato věta opakuje v hlavě. Irituje
    tě, že ji nedokážeš dokončit. Víš, že ti ji říkal tvůj buddik a víš, že měl na sobě tričko stejné barvy.

  </p>
  <h4>Úkol</h4>
  <p>Pokud chceš mít klid, najdi tabuli ve škole a urč její barvu</p>
  <img class="img" align="center" src="assets/img/tabule.png" />
  <ion-list>
    <div *ngIf="hintLevel1()">
      <h3>Nápověda 1</h3>
      <p>
        <ion-icon name="alert"></ion-icon>VLOŽ TEXT NÁPOVĚDY SEM
      </p>
    </div>
    <ion-item>
      <ion-label floating>Barva</ion-label>
      <ion-input type="text" [(ngModel)]="answer"></ion-input>
    </ion-item>





    <ion-row>
      <ion-col>
        <button ion-button (click)="goToOtherPage()">Odpovědět</button>
      </ion-col>
      <ion-col *ngIf="hintLevel1() == false">
        <button ion-button (click)="reallyHintAlert()">Nápověda</button>
      </ion-col>
      <ion-col *ngIf="hintLevel1()">
        <button ion-button (click)="reallySkipAlert()">Přeskočit úkol</button>
      </ion-col>
    </ion-row>
  </ion-list>
  <timer #timer timeInSeconds={{resumeTime}}></timer>
</ion-content>