<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
    <ion-title> <img class="img" align="center" src="assets/img/logo-black-small.png" /></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h4>Událost</h4>
  <p>
    Útržkovitě si vybavuješ dlouhý rozhovor o snech, který jste spolu vedli ještě před party. Při pozorování “hvězdné oblohy”
    v atriu rajské budovy jste došli až k tomu, že i jedna konkrétní osoba měla v minulosti svůj sen - sen o pokroku univerzity
    a jejímu přizpůsobení technologickému vývoji. Tato osoba svůj sen krátce před smrtí skutečně uskutečnila, a založila
    fakultu informatiky, přičemž se zároveň stala jejím prvním děkanem.

  </p>
  <h4>Úkol</h4>
  <p>Tvým úkolem je zjistit přibližný věk (věkové rozmezí) tvého kamaráda pomocí těchto indícií. Přibližný věk zjistíš počtem
    let od † osobnosti, která se zasloužila o založení FIS na VŠE (spodní hranice), a sečtením “hvězd” (horní hranice). Své
    výpočty vztáhni ke konci roku 2017
  </p>

  <div *ngIf="hintLevel1()">
    <h3>Nápověda 1</h3>
    <p>
      <ion-icon name="alert"></ion-icon>Hvězdy představují světlal v atriu rajské budovy. Zakladatelem FISu byl Jiří Likeš.
    </p>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>Věk od:</ion-label>
      <ion-datetime displayFormat="mm" pickerFormat="mm" [(ngModel)]="this.event.timeStarts"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Věk do:</ion-label>
      <ion-datetime displayFormat="mm" pickerFormat="mm" [(ngModel)]="this.event.timeEnds"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>
      <button ion-button (click)="goToOtherPage()">Odpovědět</button>
    </ion-col>
    <ion-col *ngIf="hintLevel1() == false">
        <button ion-button (click)="reallyHintAlert()">Nápověda</button>
      </ion-col>
      <ion-col *ngIf="hintLevel1()">
          <button ion-button (click)="reallySkipAlert()">Přeskočit úkol</button>
        </ion-col>
  </ion-row>
  <timer #timer timeInSeconds={{resumeTime}}></timer>
</ion-content>